@model IEnumerable<FullMetalLibrary.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>
<div class="btn-group mb-3">
    <a asp-action="Index" asp-route-sortOrder="az" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-outline-primary">⇈</a>
    <a asp-action="Index" asp-route-sortOrder="za" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-outline-primary">⇊</a>
</div>

@if (ViewBag.NotFoundMessage != null)
{
    <div class="alert alert-warning">@ViewBag.NotFoundMessage</div>
}
@if (ViewBag.AdminMatched != null)
{
    <div class="alert alert-info">
        Your search matched an <strong>Admin</strong>. Showing all books instead.
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-success">Add New Book</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["TitleSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]">
                </a>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["DateSortParm"]"
                   asp-route-searchString="@ViewData["CurrentFilter"]">
                </a>
                Publish Date
            </th>
            <th>
                Genre
            </th>
            <th>
                Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@(item.Author?.FirstName + " " + item.Author?.LastName)</td>
                <td>@item.PublishDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Genre</td>
                <td>@(item.Available ? "Yes" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
