@model IEnumerable<FullMetalLibrary.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Admins</h1>
<form asp-controller="Admins" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>
<div class="btn-group mb-3">
    <a asp-action="Index" asp-route-sortOrder="az" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-outline-primary">⬆</a>
    <a asp-action="Index" asp-route-sortOrder="za" asp-route-searchString="@ViewData["CurrentFilter"]" class="btn btn-outline-primary">⬇</a>
</div>

@if (ViewBag.NotFoundMessage != null)
{
    <div class="alert alert-warning">@ViewBag.NotFoundMessage</div>
}
@if (ViewBag.AdminMatched != null)
{
    <div class="alert alert-info">
        Your search matched an <strong>Admin</strong>. Showing all books instead.
    </div>
}
<p>
    <a asp-action="Create" class="btn btn-success">Add New Admin</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.UserName)
            </td>
            <td>
                <a href="mailto:@item.EmailAddress">@item.EmailAddress</a>
            </td>
            <td>
                @Html.DisplayFor(_ => item.IsActive)
            </td>
            <td>
                @item.CreatedAt.ToString("dd/MM/yyyy h:mm tt")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
